
@media screen and (min-width: 1200px){
    .home{
        &__social{
            right: -3rem;
            row-gap: 4.5rem;

            &-follow{
                font-size: var(--small-font-size);

                &::after{
                    width: 1.5rem;
                    right: -60%;
                }
            }
            &-link{
                font-size: 1.15rem;
            }
        }
    }

    .about__container{
        column-gap: 7rem;
    }

    .scrollup{
        right: 3rem;
    }
}