.header {
    width: 100%;
    background: burlywood;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .4s;
}

/*==============NAV==============*/

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle,
    &__close{
        color:yellow;
    }
    &__logo{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -1px;
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        transition: .3s;
    }
}
