/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Roboto:300"); */
:root {
  --header-height: 3.5rem;
  --hue: 152;
  /* =========COLOR============ */
  --azul-uno: #001B48;
  --azul-dos: #002447;
  --azul-tres: #155DB1;
  --azul-cuatro: #2196F3;
  --azul-cinco: #81C9FA;
  --rojo-uno: #CC0001;
  --rojo-dos: #E60000;
  --rojo-tres: #FF1A1A;
  --rojo-cuatro: #FF3334;
  --rojo-cinco: #FF4D4D;
  --grey-one: rgb(29, 29, 29);
  --grey-two: #222;
  --grey-three: #808080;
  --grey-four: #B3B3B3;
  --grey-five: #E6E6E6;
  --grey-six: #fcfcfc;
  --white: white;
  --wrapper-background: #fff111;
  --black: #111111;
  --botton-color: #333222;
  --target-color: #ebf6ff;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

body {
  margin: var(--header-height) 0 0 0;
  background: #180c0c;
  color: chartreuse;
  transition: 0.4s;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--azul-uno);
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 5.5rem 0 1rem;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.header {
  width: 100%;
  background: burlywood;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*==============NAV==============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo, .nav__toggle, .nav__close {
  color: yellow;
}
.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
}
.nav__logo:hover {
  color: white;
}
.nav__logo-icon {
  font-size: 1.15rem;
  color: white;
}
.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, 0.1);
    padding: 4rem 0 0 3rem;
    transition: 0.3s;
    z-index: var(--z-fixed);
  }
}
.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  color: yellow;
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--azul-cuatro);
}

.show-menu {
  right: 0;
}

.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

.active-link {
  position: relative;
  color: var(--azul-cuatro);
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--azul-cuatro);
}

@media screen and (min-width: 1200px) {
  .home__social {
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow {
    font-size: var(--small-font-size);
  }
  .home__social-follow::after {
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link {
    font-size: 1.15rem;
  }

  .about__container {
    column-gap: 7rem;
  }

  .scrollup {
    right: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
